.text-lightgrey {
    color: #6F7784;
}

.text-theme-green {
    color: #50C205;
}

.text-dred {
    color: #C42420;
}

.text-white {
    color: #FFFFFF;
}

.mrt-20 {
    margin-top: 20px;
}

.nopd-left {
    padding-left: 0 !important;
}

.pdv-15 {
    padding: 15px 0;
}

.no-padding {
    padding: 0;
}

.pdb-5 {
    padding-bottom: 5px;
}

.pdt-8 {
    padding-top: 8px;
}

.pdv-20 {
    padding: 20px 0;
}

.pdv-25 {
    padding: 25px 0;
}

.school-nm-wd {
    max-width: 650px;
}

.admin-school-nm {
    max-width: 280px;
}

.mrgn-rt10 {
    margin-right: 10px;
}

.mrb-30 {
    margin-bottom: 30px;
}

.posrel {
    position: relative;
}

.dblock {
    display: block;
}